{% extends "base.html" %}
{% block content %}
{% from 'render_field.html' import render_field %}
  <form action="" method="post" name="login" class="form-horizontal">
      {{ form.hidden_tag() }}
      {% for field in form %}
        {{ render_field(field) }}        
      {% endfor %}
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <input type="submit" value="Send" class="btn btn-primary">
          <a href="{{ url_for('index') }}" class="btn btn-default">Cancel</a>
        </div>
      </div>
  </form>
{% endblock %}